*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-align: center;
}

body{
    font-family: "Zen Kurenaido", "Zen Kaku Gothic Antique", "Zen Old Mincho", "sans-serif";
    margin: 0px auto;
    max-width: 900px;
    display: flex;
    flex-direction: column;
}

main{
    background-image: none;
}

.skills-container, .contact-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact-container{
    justify-content: center;
}

.fab {
    font-size: 2em;
    width: 2em;
}

