*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Zen Kurenaido", "Zen Kaku Gothic Antique", "Zen Old Mincho", "sans-serif";
    margin: 0 auto;
    max-width: 900px;
    display: flex;
    flex-direction: column;
}

.skills-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}

.fab {
    font-size: 2em;
    width: 2em;
}

