*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
}


body{
    font-family: "Zen Kurenaido", "Zen Kaku Gothic Antique", "Zen Old Mincho", "sans-serif";
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    font-size: 24px;
}

/* HEADER */
header{
    background: #000;
    position: fixed;
    width: 100%;
    overflow: hidden;
}

nav {
    padding-top: 1rem;
}


nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}

nav li{
    padding: 5px;
    margin: 5px 50px;
    line-height: 50px;
    width: auto;
    height: 100%;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

nav li:hover{
    background-color: darkred;
}

nav li:active{
    background-color: red;
}

section, article{
    padding: 85px;
}

/* TITLE AND PICTURE */
.me{
    background-image: url("./images/MattCloseUp.jpg");
    background-repeat: no-repeat;
    background-size:contain;
    background-position-x: center;
    height: 400px;
    width: 100%;
    color: blanchedalmond;
    font-size: 2rem;
    line-height: 45rem;
}

.about-me{

}


.skills-container, .contact-container{
    display: flex;
    width: 100%;
    justify-content: space-around;
}


.fab {
    font-size: 2em;
    width: 2em;
}

.main{
    margin: 85px auto;
    margin-bottom: 0px;
}

.job-container{
    margin: 85px auto;
}

.job{
    margin: 50px auto;
    display: flex;
    align-items: center;
}

.job p, .job img{
    width: 50%;
    height: auto;
}